server:
  port: 10010
spring:
  application:
    name: gateway # 服务名称
  cloud:
    nacos:
      server-addr: localhost:8848 # nacos地址
    gateway:
      routes: # 网关路由配置
        - id: user-service # 路由id
          uri: lb://userservice # 路由目标地址
          predicates: # 路由断言，判断请求是否符合规则
            - Path=/user/** # 按照路径匹配
        - id: order-service
          uri: lb://orderservice
          predicates:
            - Path=/order/**
            - After=2031-01-20T17:42:47.789-07:00[Asia/Shanghai]