/* 首页CSS样式 */
/* 版心 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
}

/* 头部区域 */
.header {
    height: 100px;
    background-color: #fff;
}

.header .wrapper {
    display: flex;
    padding-top: 29px;
}

/* logo */
.logo a {
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0;
    margin-right: 102px;
}

/* 导航 */
.nav ul {
    display: flex;
}

.nav li {
    margin-right: 24px;
    margin-top: 0;
}

.nav li a {
    display: block;
    padding: 6px 8px;
    font-size: 19px;
    line-height: 27px;
}

/* active 类选择器，表示默认选中的a */
.nav li .active,
.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search {
    display: flex;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
}

.search input {
    flex: 1;
    border: 0;
    background-color: transparent;

    outline: none;
}

.search input::placeholder {
    font-size: 14px;
    color: #999;
}

.search a {
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
}

.user {
    height: 30px;
    margin-top: 4px;
    margin-left: 32px;
    /* background-color: pink; */
}

.user img {
    vertical-align: middle;
    margin-right: 7px;
}

.user span {
    font-size: 16px;
    color: #666;
}

/* banner区域 */
.banner {
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper {
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}

/* 侧导航 */
.banner .left {
    width: 191px;
	height: 420px;
    background-color: rgba(0,0,0,0.42);
    padding: 3px 20px;
}

.banner .left a {
    display: block;
	line-height: 46px;
    background: url(../images/right.png) no-repeat right center;
    font-size: 16px;
    color: #fff;
}

.banner .left a:hover {
    color: #00a4ff;
    background-image: url(../images/right-hover.png);
}

.banner .right {
    margin-top: 60px;
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
}

.banner .right h3 {
    height: 48px;
    line-height: 48px;
    margin-left: 14px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

.banner .right .content {
    height: 257px;
    border-radius: 10px;
    background-color: #fff;
    padding: 14px;
}

.banner .right dl {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 12px;
}

.banner .right dt {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 20px;
    font-weight: 700;
}

.banner .right dd {
    margin-bottom: 8px;
    font-size: 12;
    line-height: 16px;
}

.banner .right dd span {
    color: #00a4ff;
}

.banner .right dd strong {
    font-weight: 400;
    color: #7d7d7d;
}

.banner .right a {
    display: block;
    height: 32px;
    line-height: 32px;
    background-color: #00a4ff;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

/* 精品推荐 */
.recommend {
    display: flex;
    margin-top: 11px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px 
    rgba(211, 211, 211, 0.5);
    padding: 0 20px;
    line-height: 60px;
}

.recommend h3 {
    font-weight: 400;
    color: #00a4ff;
    font-size: 18px;
}

.recommend ul {
    display: flex;
    flex: 1;
}

.recommend ul li a {
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
    font-size: 18px;
}

.recommend ul li:last-child a {
    border-right: 0;
}

.recommend .modify {
    font-size: 16px;
    color: #00a4ff;
}


/* 推荐课程 */
.course {
    margin-top: 15px;
}

.hd {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}

.hd h3 {
    font-size: 21px;
    font-weight: 400;
}

.hd .more {
    padding-right: 20px;
    font-size: 14px;
    color: #999;
    background: url(../images/more.png) no-repeat right center;
}

.bd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li {
    margin-bottom: 14px;
    width: 228px;
    height: 271px;
    background-color: pink;
}

.bd li .pic {
    height: 156px;
}

.bd li .text {
    padding: 20px;
    height: 115px;
    background-color: #fff;
}

.bd li .text h4 {
    margin-bottom: 13px;
    height: 40px;
    font-size: 14;
    line-height: 20px;
    font-weight: 400;
}

.bd li .text p {
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.bd li .text p span {
    color: #fa6400;
 }

.bd li .text i {
    font-style: normal;
}

.hd ul {
    display: flex;
}

.hd li a {
    margin-right: 60px;
    font-size: 16px;
}

.hd li .active,
.hd li a:hover {
    color: #00a4ff;
}

.bd {
    display: flex;
    justify-content: space-between;
}

.bd .left {
    width: 228;
    /* background-color: pink; */
}

.bd .right {
    width: 957px;
    /* background-color: pink; */
}

.bd .right .top {
    margin-bottom: 15px;
    height: 100px;
}

/* 版权 */
.footer {
    height: 273px;
    margin-top: 60px;
    padding-top: 60px;
    background-color: #fff;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .left {
    width: 440px;
    /* background-color: pink; */
}

.footer .left p {
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
    color: #666;
}

.footer .left .download {
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    color: #00a4ff;
}

.footer .right {
    display: flex;
}

.footer .right dl {
    margin-left: 130px;
}

.footer .right dt {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}

.footer .right a {
    font-size: 14px;
    color: #666;
    line-height: 23px;
}